.text-xs {
    font-size: var(--font-xs);
}
.text-sm {
    font-size: var(--font-sm);
}
.text-md {
    font-size: var(--font-md);
}
.text-lg {
    font-size: var(--font-lg)
}
.text-xl {
    font-size: var(--font-xl);
}
.text-xxl {
    font-size: var(--font-xxl);
}
.text-xxxl {
    font-size: var(--font-xxxl);
}
.text-xxxxl {
    font-size: var(--font-xxxxl);
}
.text-xxxxxl {
    font-size: var(--font-xxxxxl);
}
